*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* ===============
     Layout pages
   =============== */

.container {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  background-color: aquamarine;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.title {
  display: flex;
  gap: 0.2rem;
}

nav {
  display: flex;
  justify-content: end;
}

ul {
  display: flex;
  gap: 3rem;
}

/* Footer */

footer {
  background-color: #202020;
  color: white;
  text-align: center;
  padding: 1.5rem;
}

/* Home page */

.hero {
  display: grid;
}

.hero > * {
  grid-area: 1/1;
}

.hero-article {
  width: 300px;
  z-index: 2;
  padding-left: 1rem;
}

/* Article page */

/* Cards */

/* ==========
   Typography
   ========== */

li {
  list-style: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: "Source Sans 3", sans-serif;
}

h1 {
  font-size: 0.85rem;
}

.hero-article h2 {
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 0.6rem;
}

h2,
p {
  margin: 0;
}

p {
  font-size: 0.9rem;
  line-height: 1.5;
}

.date {
  font-size: 0.7rem;
  padding-bottom: 0.4rem;
}

.hero-article .date {
  padding-top: 4rem;
}

footer p {
  margin: 0;
}

.hero {
  color: white;
}

/* ==========
     Images
   ========== */

.hero-img {
  width: 100%;
  max-width: 390px;
  display: block;
}

/* ==========
     Buttons
   ========== */

/* ==========
      Links
   ========== */

a {
  text-decoration: none;
  color: #202020;
}

a:hover,
a:focus {
  font-weight: bold;
  color: blue;
}

/* ==========
   Responsive
   ========== */
