*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Flex", sans-serif;
}

/* ==========
     Layout
   ========== */

.container {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  background-color: aquamarine;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.title {
  display: flex;
  gap: 0.2rem;
  /* justify-content: start; */
}

nav {
  display: flex;
  justify-content: end;
}

ul {
  display: flex;
  gap: 3rem;
}

/* ==========
   Typography
   ========== */

li {
  list-style: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: "Source Sans 3", sans-serif;
}

h1 {
  font-size: 0.85rem;
}

/* ==========
   Responsive
   ========== */

/* ==========
     Images
   ========== */

/* ==========
      Links
   ========== */
