*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #646363;
}

/* ===============
     Layout pages
   =============== */

.container {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  background-color: white;
}

.page {
  display: none;
}

.page.active {
  display: block;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.title {
  display: flex;
  gap: 0.2rem;
}

nav {
  display: flex;
  justify-content: end;
}

ul {
  display: flex;
  gap: 2rem;
}

/* Footer */

footer {
  background-color: #202020;
  color: white;
  text-align: center;
  padding: 1.5rem;
}

/* Home page */

.hero {
  display: grid;
}

.hero > * {
  grid-area: 1/1;
}

.hero-article {
  width: 300px;
  z-index: 2;
  padding-left: 1rem;
}

/* Article page */

.article {
  width: 340px;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.main {
  padding-bottom: 0.5rem;
}

.main-article {
  padding-bottom: 1.5rem;
}

/* Aboutme page */

.about {
  width: 340px;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.about-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

/* Cards */

.card {
  width: 340px;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.blog {
  padding-bottom: 2rem;
}

/* ==========
   Typography
   ========== */

li {
  list-style: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: "Source Sans 3", sans-serif;
}

h1 {
  font-size: 0.85rem;
}

.hero-article h2 {
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 0.6rem;
}

.article h2,
.about-article h2 {
  padding-bottom: 1rem;
}

h4 {
  padding-bottom: 0.4rem;
}

.recent-posts {
  text-align: center;
  padding-top: 2rem;
}

.journeys h4 {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

h2,
p,
h3,
h4 {
  margin: 0;
}

p {
  font-size: 0.9rem;
  line-height: 1.5;
}

.date {
  font-size: 0.7rem;
  padding-bottom: 0.4rem;
}

.hero-article .date {
  padding-top: 4rem;
}

footer p {
  margin: 0;
}

.hero {
  color: white;
}

/* ==========
     Images
   ========== */

.hero-img img {
  width: 100%;
  max-width: 390px;
  display: block;
}

.card-img,
.article-img img {
  width: 340px;
  border-radius: 0.3rem;
}

.about-article img {
  width: 182px;
  display: block;
  margin-bottom: 1rem;
}

/* ==========
     Buttons
   ========== */

.home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5rem;
}

.view-more {
  background: white;
  border: none;
  font-family: "Roboto Flex", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.5rem;
}

.view-more:hover,
.view-more:focus {
  background-color: rgb(60, 21, 204);
  color: white;
  text-decoration: none;
}

/* ==========
      Links
   ========== */

a {
  text-decoration: none;
  color: #202020;
}

a:hover,
a:focus {
  font-weight: bold;
  background-color: rgb(60, 21, 204);
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
}

/* ==========
   Responsive
   ========== */

@media (min-width: 900px) {
  .container {
    width: 100%;
    max-width: 900px;
  }

  /* Typos */

  .title {
    gap: 0.7rem;
  }

  h1 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.5;
  }

  .date {
    font-size: 0.9rem;
  }

  /* home */
  header {
    padding: 0 3rem;
    height: 80px;
  }

  .hero-img img {
    max-width: 900px;
  }

  .hero-article {
    width: 600px;
    padding-left: 3rem;
    padding-top: 22rem;
  }

  /* article */

  .article.page.active {
    display: grid;
    width: 100%;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-areas: ". main ." ". jour ." ". recp ." ". card .";
  }

  .article-img img {
    width: 100%;
  }

  /* about */

  .about.page.active {
    width: 100%;
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-areas: ". abot ." ". jour ." ". recp ." ". card .";
  }

  .about-article {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  /* grid-area */

  .about-article {
    grid-area: abot;
  }

  .main {
    grid-area: main;
  }

  .journeys {
    grid-area: jour;
  }

  .recent-posts {
    grid-area: recp;
  }

  /* card */
  .card-img {
    width: 100%;
  }
  .article.page.active .card,
  .about.page.active .card {
    width: 100%;
    display: grid;
    grid-area: card;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
    grid-template-areas:
      "cd1 cd2 cd3"
      "cd4 cd5 cd6";
  }

  .home.page.active .card {
    width: 100%;
    display: grid;
    grid-template-columns: 2rem repeat(3, minmax(0, 1fr)) 2rem;
    gap: 1rem;
    grid-template-areas:
      ". cd1 cd2 cd3 ."
      ". cd4 cd5 cd6 .";
  }

  .card1 {
    grid-area: cd1;
  }
  .card2 {
    grid-area: cd2;
  }
  .card3 {
    grid-area: cd3;
  }
  .card4 {
    grid-area: cd4;
  }
  .card5 {
    grid-area: cd5;
  }
  .card6 {
    grid-area: cd6;
  }
}
