body {
  background-color: #ddeae1;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #020202;
}

.btn,
body {
  font-family: "Open Sans", sans-serif;
}

.hero {
  width: 80%;
  display: block;
  background-image: url("faded-office.png");
  background-size: cover;
  margin: 0 auto;
  padding: 2rem 5rem 10rem;
  border: 4px solid black;
}

span {
  border-bottom: 4px solid #0ea5e9;
}

.btn {
  background-color: #0ea5e9;
  color: white;
  border: none;
  width: 10rem;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.description {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-top: 10rem;
}

h1 {
  font-size: 4rem;
  font-weight: 800;
}

p {
  font-size: 2rem;
  font-weight: 600;
}
