body {
  margin: 20px;
  font-family: Verdana, sans-serif;
}

.avatar {
  width: 150px;
}

.border-blue {
  border: 1px dotted blue;
}

.card {
  padding: 20px;
  width: 400px;
  display: flex;
  justify-content: space-around;
  margin: 24px auto;
  text-align: center;
  background: #ddebf8;
  color: #2b2839;
  border-bottom: 6px solid #d8cefe;
}
