/**
Palette: https://coolors.co/palette/134074-13315c-0b2545-8da9c4-eef4ed
Deep blue sea
regal navy: #134074
oxford navy: #13315C
prussian blue: #0B2545
powder BLUE: #8DA9C4
mint cream: #EEF4ED

*/

body {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: "Parisienne", cursive;
}

.hero {
  display: block;
  margin: 0 auto;
  background-image: url(images/paris.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 41.5rem;
  padding-bottom: 10rem;
  color: #eef4ed;
  text-shadow: 0px 0px 4px #134074;
}

.hero:hover,
.activities:hover,
.guide:hover {
  border: 0.3rem solid #0b2545;
}

.hero-text {
  width: 300px;
  display: block;
  margin: -1rem auto;
  padding-top: 3rem;
}

.hero-text h1 {
  background-color: #134074;
  border-radius: 1rem;
  width: 200px;
  margin: 0 auto;
}
.hero-text h2 {
  background-color: #8da9c4;
  border-radius: 1rem;
}

main {
  color: #134074;
  width: 41.5rem;
  margin: 0 auto;
  background-color: #eef4ed;
  padding-top: 1rem;
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.activities {
  margin-top: 0;
}

.articles {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  gap: 0.5rem;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(41.5rem / 3);
  text-shadow: 0px 0px 1px #134074;
}

article img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.guide {
  width: 41.5rem;
  background-color: white;
  padding-top: 1rem;
}

.card {
  background-color: #13315c;
  width: 30rem;
  margin: 0 auto;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  color: #eef4ed;
  border-bottom: 0.5rem solid #8da9c4;
}

#avatar {
  width: 10rem;
  height: auto;
  border-radius: 1rem;
  object-fit: cover;
}

.card-text {
  padding: 1rem;
}

.card-text p {
  font-size: 1rem;
}
