*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* ===============
     Layout pages
   =============== */

.container {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  background-color: aquamarine;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.title {
  display: flex;
  gap: 0.2rem;
}

nav {
  display: flex;
  justify-content: end;
}

ul {
  display: flex;
  gap: 3rem;
}

/* Footer */

footer {
  background-color: #202020;
  color: white;
  text-align: center;
  padding: 1.5rem;
}

/* Home page */

.home-page {
  /* display: none; */
}

.hero-post {
  position: relative;
  margin-bottom: 1rem;
}

#hero-article {
  position: absolute;
  width: 300px;
  color: white;
  top: 4rem;
  left: 1rem;
  margin: 0;
}

/* Article page */

.article-page {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  display: none;
}

.author-journey {
  margin-bottom: 2rem;
}

#article .main-text {
  padding-bottom: 1rem;
}

/* Cards */

.cards {
  width: 340px;
  margin: 0 auto;
}

.card {
  padding-bottom: 1.3rem;
}

/* ==========
   Typography
   ========== */

li {
  list-style: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-family: "Source Sans 3", sans-serif;
}

h1 {
  font-size: 0.85rem;
}

#hero-article h2 {
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 0.6rem;
}

.article-page h3 {
  text-align: center;
  padding-bottom: 1.5rem;
  font-size: 1.1rem;
}

p {
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0;
}

.date {
  font-size: 0.7rem;
  margin: 0;
  padding-bottom: 0.4rem;
}

footer p {
  margin: 0;
}

.card h3 {
  font-size: 1.2rem;
  text-align: start;
  margin: 0;
}

/* ==========
     Images
   ========== */

.hero-img {
  width: 390px;
}

.card-img {
  width: 340px;
  border-radius: 0.3rem;
}

/* ==========
     Buttons
   ========== */
.button {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.view-more {
  background: white;
  border: none;
  font-family: "Roboto Flex", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
  border-radius: 1rem;
  padding: 0.5rem;
}

.view-more:hover,
.view-more:focus {
  background-color: rgb(60, 21, 204);
  color: white;
  text-decoration: none;
}
/* 

 */

/* .home-page {
  display: none;
}
 */

/* article page */

/* .article-page {
  display: grid;
  grid-template-columns: 0.05rem 1fr 0.05rem;
  gap: 1rem;
  grid-template-areas:
    ".... prev ...."
    ".... imga ...."
    ".... desc ...."
    ".... rect ...."
    ".... card ....";
}

.post-article {
  grid-area: prev;
}

.author-description {
  grid-area: desc;
}

.recent-posts {
  grid-area: rect;
  text-align: center;
} */

/* Footer */

/*  */

/* Cards */
/* .cards {
  grid-template-columns: 2rem 1fr 2rem;
  grid-area: card;
  grid-template-areas:
    ".. cd1 .."
    ".. cd2 .."
    ".. cd3 ..";
}

.card-one {
  grid-area: cd1;
}

.card-two {
  grid-area: cd2;
}

.card-three {
  grid-area: cd3;
}

.card {
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  padding: 1rem 1rem;
} */

/* 





.hero-post {
  color: white;
}


.preview-date {
  font-size: 0.9rem;
} */

/* .hero-post img {
  width: 100%;
  max-width: 390px;
}

.card img,
.article-img {
  width: 358px;
  border-radius: 2px;
}

.article-img {
  grid-area: imga;
} */

/* ==========
      Links
   ========== */

/* ==========
   Responsive
   ========== */
