body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.3125rem;
  font-weight: 300;
}

/* Layouts */
.container {
  width: 570px;
  margin: 0 auto;
}

header,
section {
  padding: 100px 0;
}

.inverse {
  background-color: #252525;
  color: #fff;
}

/* Typos */

h1,
h2 {
  font-weight: 300;
  margin-top: 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.75rem;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
  padding: 1.25rem 0;
  margin-bottom: 1.25rem;
}

h3 {
  font-size: 2.25rem;
  font-weight: 900;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

.small-text {
  font-size: 1rem;
  margin-top: 5px;
}

.accent-text {
  display: block;
}

h1 .accent-text {
  font-size: 5rem;
}

h2 .accent-text {
  font-size: 3.75rem;
}

.name,
.accent-text,
time,
a {
  color: #99d930;
  font-weight: 900;
}

/* Links */

a:hover,
a:focus {
  color: #fff;
}

.btn {
  display: inline-block;
  text-decoration: none;
  background-color: #99d930;
  color: #252525;
  padding: 10px 25px;
  margin-top: 25px;
}

.inverse .btn:hover,
.inverse .btn:focus {
  background: #fff;
  color: #252525;
}

.btn:hover,
.btn:focus {
  background-color: #252525;
  color: #fff;
}
