body {
  margin: 0;
  padding: 0;
  font-family: "Happy Monkey", cursive;
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient(#a2d2ff, #efb0c9);
  color: #ffffff;
}

#avatar {
  border-radius: 50%;
  width: 150px;
  border: 6px solid #efb0c9;
  margin-bottom: 10px;
}

h1,
h2,
h4,
p {
  text-shadow: 0px 0px 1px black;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#bday-age {
  background: #efb0c9;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0 10px 0;
}

#bday-date {
  margin: 0;
  background: #efb0c9;
  padding: 5px 10px;
  border-radius: 5px;
}

.gift-title {
  margin-bottom: 0;
}
.gift-section {
  margin-top: 50px;
}

.gift-hint {
  margin-top: 0;
}

.gift-img {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  border: 6px solid white;
  border-radius: 10px;
  background-image: url("images/gift-cover.jpg");
  background-size: cover;
}

#gift-img-happy:hover {
  background-image: url("images/happy.gif");
}

#gift-img-hot:hover {
  background-image: url("images/hot.gif");
}

#gift-img-genius:hover {
  background-image: url("images/genius.gif");
}

#gift-img-badass:hover {
  background-image: url("images/badass.gif");
}

#gift-img-cheers {
  height: 200px;
}

#gift-img-cheers:hover {
  background-image: url("images/cheers.gif");
}

#footer {
  text-shadow: 0px 0px 4px black;
  width: 400px;
  margin: 40px auto 20px;
  font-style: italic;
}

a {
  color: white;
}
