html,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans 3", sans-serif;
}

/*Layouts  */

.container {
  width: 375px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #c6c6c6;
  padding: 1rem;
}

.user-info {
  display: flex;
  height: 34px;
}

.image {
  margin-top: 1rem;
}

.icons {
  display: flex;
  gap: 1rem;
  margin-top: 0.5rem;
}

.image-info {
  margin-left: 0.8rem;
}

.name-and-location {
  margin-top: 0.5rem;
}

/* Images */
.brand-app {
  height: 34px;
}

.avatar,
.user-info img {
  margin-top: 0.5rem;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.image img {
  width: 375px;
  height: 375px;
}

.icons img {
  width: 1.5rem;
  height: 1.5rem;
}

/* Typos */

.name-and-location p:first-child,
.post-infos p:first-child,
.post-infos p span {
  font-size: 0.8125rem;
  font-weight: 700;
}

.name-and-location p:first-child,
.name-and-location p:nth-child(2) {
  margin: 0 0.5rem;
}

.name-and-location p:nth-child(2) {
  font-size: 0.8rem;
  font-weight: 400;
}

.post-infos p:first-child {
  margin-bottom: -0.5rem;
}

.post-infos p {
  font-weight: 400;
  font-size: 0.8125rem;
}
