body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddeae1;
}

main {
  background-color: #ffffff;
  width: 60%;
  display: flex;
  margin: 1.5rem auto;
  gap: 2rem;
  padding: 1.5rem;
}

.main-img {
  box-shadow: 0px 2px 5px lightgray;
  width: 400px;
}

.left p {
  color: #565959;
  font-size: 0.8rem;
}

.right {
  margin-top: 2rem;
}
.title {
  font-weight: lighter;
}

a {
  color: #007185;
}
